# Core Scientific & Web/IO Libraries
numpy
scipy

#for computer vision. use only for Raspberry Pi, not for Jetsons. 
#The standard pip isnt CUDA-accelerated
#opencv-python 

#ROS2
rclpy

smbus2==0.6.0  # I2C communication for sensors
pymavlink==2.4.49  # MAVLink communication protocol